/* basic */
$min-width: 320px;
$img-url: "../images";
$screen-size-pc: 1200px;

* {
	@include box-sizing;
}

.sr-only {
	position: absolute !important;
	overflow: hidden !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	clip: rect(0, 0, 0, 0) !important;
	border: 0 !important;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
	position: static;
	height: auto;
	margin: 0;
	overflow: visible;
	clip: auto;
}

/* default input */
input,
select,
textarea {
	@include border-radius(0);
	background:#fff;
	/*
        @media all and (max-width: 1199px) {
            appearance: none;
            -moz-appearance: none;
            -ms-appearance: none;
            -webkit-appearance: none;

            &::-ms-expand {
                display: none;
            }
        }
    */
}

a {
	text-decoration: none;
	color: $text-link-color;
}

button {
	outline: none;
	border-radius: 0;
}
