// out: ./styl.css, compress: true, sourceMap: true
@import "normalize", "font", "color", "mixin", "default";

/* basic */
$min-width: 320px;
$screen-size-pc: 700px;
$img-url: "../images";

// * {
//   @include ani(0.3s);
// }

html {
  min-width: $min-width;
  max-width: 100%;
  font-size: 14px;
  height: -webkit-fill-available;
}

html,
body {
  font-family: $myfont, "Malgun Gothic", "apple sd gothic neo", sans-serif;

}

body {
  min-height: 100vh;
  min-height: -webkit-fill-available;







}
